[user]
    name = Takeshi Ohishi
    #email = tks.ohishi@gmail.com

# ref: http://d.hatena.ne.jp/tokuhirom/20081212/1229080990
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow bold
    local = yellow
    remote = blue
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = blue bold
[color "status"]
    added = yellow
    changed = blue
    untracked = cyan
[color]
    ui = true
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor = vim
    excludesfile = ~/.gitignore_global
[branch]
    autosetupmerge = true
[alias]
    st = status
    ci = commit -a
    br = branch
    co = checkout
    cm = checkout master
    df = diff
    lg = log -p
    add = add -v
    fetch = fetch -v --all
    push = push -v
    unstage = reset HEAD --
    last = log -1 HEAD
    tree = log --graph --pretty=oneline --abbrev-commit --decorate
    fixup = commit --amend -C HEAD
[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line
[include]
    path = ~/.gitconfig.local
