[user]
    name = Takeshi Ohishi
    email = tks.ohishi@gmail.com
[color]
    ui = true
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    quotepath = false
[diff]
    renames = true
[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line
[mergetool]
    keepBackup = true
[include]
    path = ~/.gitconfig.local

